<div style='color: green;'>

The organization '<%= @organization_name %>' invites you to participate in Cisco IoT platform.<br/>
Please click <a href='<%= @comeback_url %>'>here</a> to join the organization.

</div>
<br/>